<div class="container">
    <div class="py-5 text-center">
        <h1>Welcome</h1>
        <h2>Application Form</h2>
    </div>
    <div>
        <h4 class="mb-3">Application Details</h4>
        <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
            <div class="mb-3 form-group">
                <div ng-app="applicationType" ng-controller="myCtrl">
                    <label for="applicationType">Application Type</label>
                    <select name="applicationType" id="applicationType" ng-model="selectApplicationType">
                    <!-- <option ng-repeat="let applicationType of applicationTypes" value="{{applicationType.value}}">{{applicationType,label}}</option> -->
                        <option>Select Application Type</option>
                        <option value="home">Home Loan</option>
                        <option value="business">Business Loan</option>
                        <option value="personal">Personal Loan</option>
                    </select>
                    </div>
            </div>
            <div class="mb-3 form-group">
                <label for="amount">Amount</label>
                <input id="amount" type="number" class="form-control">
            </div>
            <div className="mb-3 form-group">
                Status
                <div className="d-block my-3">
                  <div className="custom-control custom-radio">
                    <label className="align-middle">
                    <input
                      type="radio"
                      value="active"
                      name="applicationStatus"
                      ng-model="selectApplicationStatus" />
                      Active
                    </label>
                  </div>
                  <div className="custom-control custom-radio">
                    <label className="align-middle">
                    <input
                      type="radio"
                      value="inactive"
                      name="applicationStatus"
                      ng-model="selectApplicationStatus" />
                      InActive
                    </label>
                  </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First Name</label>
                    <input id="firstName" type="text" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" type="text" class="form-control">
                </div>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

