<div class="container">
    <div class="py-5 text-center">
        <h1>Welcome</h1>
        <h2>Application Form</h2>
    </div>
    <div>
        <h4 class="mb-3">Application Details</h4>
        <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="test1">Test 1</label>
                <input id="test1" type="text" class="form-control">
            </div>  
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <div ng-app="applicationType" ng-controller="myCtrl">
                    <label for="applicationType">Application Type</label>
                    <select name="applicationType" id="applicationType" ng-model="selectApplicationType">
                    <!-- <option ng-repeat="let applicationType of applicationTypes" value="{{applicationType.value}}">{{applicationType,label}}</option> -->
                        <option>Select Application Type</option>
                        <option value="home">Home Loan</option>
                        <option value="business">Business Loan</option>
                        <option value="personal">Personal Loan</option>
                    </select>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First Name</label>
                    <input id="firstName" type="text" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" type="text" class="form-control">
                </div>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

